# Add the following line to your crontab to have the rotation updated daily at 4am:
00 04 * * * python3 /path/to/squad_map_randomizer.py -o /path/to/MapRotation.cfg --input-filepath /path/to/layers.json --discord-webhook-url <WEBHOOK_URL_HERE>
# Note: using absolute paths for everything makes things simpler.
